.me body {
  font-family: "Roboto", "Helvetica", sans-serif;
}

.me .max-width {
  max-width: 900px;
}


.me .mdl-card__media--white-background {
  background-color: white;
}

#my-picture {
  width: 100%;
  height: auto;
  max-width: 256px;
  border-radius: 2px;
}

.me .no-left-padding {
  padding-left: 0;
  margin-left: 0;
}

.me .mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-color: white !important;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}

.social-btn__twitter {
  background-image: url("../images/twitter-box.svg");
}

.social-btn__github {
  background-image: url("../images/github-box.svg");
}

.social-btn__linkedin {
  background-image: url("../images/linkedin-box.svg");
}

.social-btn__stackoverflow {
  background-image: url("../images/stackoverflow.svg");
}

.social-link--no-underline {
  text-decoration: none;
}